/* components/SlideInText.module.css */

.slide-text {
  font-size: 24px;
  color: #333;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
